
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  
  font-family: "Poppins", sans-serif;
  padding: 20px;
  color: #003d66;
  background-color: #e2f2ff;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

#view-switcher {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

#view-switcher button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

#nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

#calendar {
  margin-top: 10px;
}

#calendar h2 {
  margin-bottom: 10px;
}

#calendar div {
  font-size: 14px;
}

#calendar-title {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

button {
  background-color: #bfe3f39f;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #003d66;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

button:hover {
  background-color: #bfe3f39f;
  border-color: #ccc;
}